<div class="sidebarcontent">
        <div class="sidebartitle">
            <span class="bx--type-epsilon"> Data2Vis </span>
            <!-- <span class="lighttext">demo</span> -->
        </div>
        <br/>
        <div class="sidebarlinks">
            <a class="sidelink" id="documentation" href="#documentation">docs</a>
        </div>
        <div class="sidebarlinks">
            <a class="sidelink" id="examples" href="#examples">our model demo</a>
        </div>
        <!-- <div class="sidebarlinks">
            <a class="sidelink" id="modifyviz" href="#modifyviz">try your own data</a>
        </div> -->
    </div>